################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FinTrack
/FinTrack.UI/bin/Debug/net8.0-windows
/FinTrack.UI/obj
/FinTrack.UI/FinTrack.UI.csproj.user
